<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/sticky-footer.css" type="text/css">  
    <link rel="stylesheet" href="/css/fontawesome/all.css" type="text/css">
    <link rel="stylesheet" href="/css/d3-axis.css" type="text/css">    

    <title><%= title %></title>
  </head>