<p class="lead">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/coronavirus">API Endpoints</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://covid19.clementineos.it">Monitor COVID19</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/clementinEOS-it/covid19">COVID19 Smart Contract</a>
      </li>
    </ul>
  </p>